# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Fırat Şeker
subtitle: Ph.D. Student in Psychology
email: fseker@umass.edu
description: >- # this means to ignore newlines until "baseurl:"
  Fırat Şeker -- Ph.D. student in psychology -- University of Massachusetts Amherst
twitter_username: firat_sekr
github_username: FiratSeker9
minimal_mistakes_skin: mint
search: false

# Build settings
defaults:
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false
      
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Fırat Şeker"
  avatar : "/assets/images/profile photo.jpeg"
  bio    : "PhD student studying the changes in human psychology across cultures and historical periods."
  links:
    - label: "Twitter/X"
      icon: "fab fa-fw fa-square-x-twitter"
      url: "https://x.com/firat_sekr"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"
    - label: "Google Scholar"
      icon: "ai ai-google-scholar"
      url: "https://scholar.google.com/citations?user=h-pia2AAAAAJ&hl=en&oi=ao"
    - label: "OSF"
      icon: "ai ai-osf"
      url: "https://osf.io/user/497e8"
    - label: "ORCID"
      icon: "ai ai-orcid"
      url: "https://orcid.org/0000-0001-9667-9270"

footer:
  links:
    - label: "Twitter/X"
      icon: "fab fa-fw fa-square-x-twitter"
      url: "https://x.com/firat_sekr"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"
    - label: "Google Scholar"
      icon: "ai ai-google-scholar"
      url: "https://scholar.google.com/citations?user=h-pia2AAAAAJ&hl=en&oi=ao"
    - label: "OSF"
      icon: "ai ai-osf"
      url: "https://osf.io/user/497e8"
    - label: "ORCID"
      icon: "ai ai-orcid"
      url: "https://orcid.org/0000-0001-9667-9270"
